* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  display: block;
}

img {
  display: block;
}

:root {
  --grey-copy: #424242;
  --pink-hover: #be285e;
  --premium-pink: #e43071;
  --dark-disabled: #d37899;
  --pink-subtle: #ffdae7;
  --light-grey: #f2f3f8;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

*::-moz-selection {
  background-color: var(--pink-hover);
  color: var(--white);
}

*::selection {
  background-color: var(--pink-hover);
  color: var(--white);
}

.container {
  max-width: 1132px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}

.header {
  padding: 25px 0;
  background-color: var(--premium-pink);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 14px 28px 0 rgba(66, 66, 66, 0.3);
}

.header-container {
  max-width: 1395px;
  display: flex;
}

.header-logo {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.095;
  color: var(--white);
}

.header-accent {
  color: var(--pink-subtle);
}

.header-list {
  display: flex;
  gap: 76px;
  align-items: center;
  margin-left: 172px;
}

.header-link {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.095;
  color: var(--white);
}

.header-link:hover,
.header-link:focus {
  color: var(--pink-subtle);
}

.header-search {
  fill: var(--white);
}

.header-link:hover .header-search,
.header-link:focus .header-search {
  fill: var(--pink-subtle);
}

.header-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.095;
  color: var(--premium-pink);
  border-radius: 200px;
  background: var(--white);
  padding: 16px 62px;
  margin-left: auto;
  position: relative;
}

.header-btn:hover {
  color: var(--pink-hover);
}

.header-btn:focus {
  background-color: var(--pink-subtle);
  color: var(--premium-pink);
}

.header-btn:active {
  background-color: var(--white);
  color: var(--premium-pink);
}

.block {
  height: 99px;
}

.hero {
  padding: 241px 0 216px 0;
  background-image: url(../../imgs/hero-bg.webp);
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1;
  color: var(--white);
  width: 558px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
}

.hero-accent {
  color: var(--pink-subtle);
}

.hero-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3125;
  text-align: center;
  border-radius: 38px;
  background-color: var(--premium-pink);
  color: var(--white);
  padding: 15.5px 63.5px;
  margin: 0 auto;
  position: relative;
}

.hero-btn:hover {
  background-color: var(--pink-hover);
}

.hero-btn:focus {
  outline: var(--pink-subtle) 8px solid;
  background-color: var(--premium-pink);
}

.hero-btn:active {
  outline: none;
  background-color: var(--premium-pink);
}

.hero-btn:active::before {
  content: "";
  width: 59px;
  height: 57px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 30px;
  z-index: 4;
}

.hero-list {
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  top: 404px;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero-item {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
}

.hero-checked {
  width: 17px;
  height: 17px;
  background-color: var(--premium-pink);
  border-radius: 50%;
}

.meet {
  padding-top: 200px;
  padding-bottom: 250px;
}

.meet-img-right {
  position: absolute;
  z-index: 1;
  top: 41px;
  left: 185px;
}

.meet-img-left {
  position: absolute;
  top: -103px;
  left: -15px;
}

.meet-text {
  width: 528px;
  margin-left: auto;
}

.meet-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--premium-pink);
  margin-bottom: 6px;
}

.meet-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.3125;
  color: var(--grey-copy);
  margin-bottom: 27px;
}

.meet-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3125;
  color: var(--premium-pink);
  border: 2px solid var(--premium-pink);
  border-radius: 38px;
  padding: 13.5px 63px;
  background-color: var(--white);
  position: relative;
}

.meet-btn:hover {
  color: var(--pink-hover);
  border: 2px solid var(--pink-hover);
}

.meet-btn:focus {
  outline: var(--pink-subtle) 8px solid;
  color: var(--premium-pink);
  border: 2px solid var(--premium-pink);
}

.meet-btn:active {
  outline: none;
  color: var(--premium-pink);
  border: 2px solid var(--premium-pink);
}

.meet-btn:active::before {
  content: "";
  width: 59px;
  height: 57px;
  background-color: var(--pink-subtle);
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 30px;
  z-index: 4;
}

.meet-info {
  position: relative;
  z-index: 5;
}

.become {
  padding-top: 231px;
  padding-bottom: 247px;
  background-image: linear-gradient(rgba(57, 57, 57, 0.22), rgba(57, 57, 57, 0.22)), url(../../imgs/become-bg.webp);
  background-size: cover;
  background-position: center;
}

.become-title {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.46);
  margin-bottom: 4px;
}

.become-desc {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  width: 435px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.become-btn {
  background-color: var(--premium-pink);
  padding: 15.5px 77.5px;
  border-radius: 38px;
  margin: 0 auto;
  position: relative;
}

.become-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3125;
  color: var(--white);
}

.become-btn:hover {
  background-color: var(--pink-hover);
}

.become-btn:focus {
  outline: var(--pink-subtle) 8px solid;
  background-color: var(--premium-pink);
}

.become-btn:active {
  outline: none;
  background-color: var(--premium-pink);
}

.become-btn:active::before {
  content: "";
  width: 59px;
  height: 57px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 30px;
  z-index: 4;
}

.become-list {
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  bottom: -221px;
  left: 50%;
  transform: translate(-50%, 0);
}

.become-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white);
}

.become-checked {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--premium-pink);
}

.facilities {
  padding-top: 321px;
  padding-bottom: 168px;
}

.facilities-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--premium-pink);
  margin-bottom: 4px;
}

.facilities-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.3125;
  color: var(--grey-copy);
  width: 489px;
  margin-bottom: 19px;
}

.facilities-btn {
  border: 2px solid var(--premium-pink);
  border-radius: 38px;
  padding: 14.5px 71px;
  background-color: var(--white);
  position: relative;
}

.facilities-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3125;
  color: var(--premium-pink);
  position: relative;
  z-index: 5;
}

.facilities-btn:hover .facilities-text {
  color: var(--pink-hover);
}

.facilities-btn:focus .facilities-text {
  color: var(--premium-pink);
}

.facilities-btn:active .facilities-text {
  color: var(--premium-pink);
}

.facilities-btn:hover {
  border: 2px solid var(--pink-hover);
}

.facilities-btn:focus {
  outline: var(--pink-subtle) 8px solid;
  border: 2px solid var(--premium-pink);
}

.facilities-btn:active {
  outline: none;
  border: 2px solid var(--premium-pink);
}

.facilities-btn:active::before {
  content: "";
  width: 59px;
  height: 57px;
  background-color: var(--pink-subtle);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 30px;
  z-index: 4;
}

.facilities-img-right {
  position: absolute;
  top: 57px;
  right: -75px;
  z-index: 0;
}

.facilities-img-left {
  position: absolute;
  top: -97px;
  right: 53px;
  z-index: 1;
}

.real {
  padding-top: 126px;
  padding-bottom: 621px;
  background: linear-gradient(180deg, var(--white) 0%, #f4e3e9 100%);
}

.real-icon {
  fill: rgba(228, 48, 113, 0.1);
  position: absolute;
  top: -63px;
  left: -7px;
  z-index: 0;
}

.real-wrapper {
  padding-left: 83px;
  position: relative;
  z-index: 1;
}

.real-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.192;
  color: var(--grey-copy);
  margin-bottom: 12px;
  width: 414px;
}

.real-desc {
  font-weight: 400;
  font-size: 18px;
  color: var(--grey-copy);
}

.real-item {
  border-radius: 10px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.18);
  background: var(--white);
  padding: 35px 34px 36px 27px;
  position: absolute;
}

.real-item:nth-child(1) {
  width: 349px;
  top: 180px;
  left: 196px;
}

.real-item:nth-child(2) {
  width: 449px;
  top: 39px;
  left: 578px;
}

.real-item:nth-child(3) {
  width: 345px;
  top: 415px;
  left: 578px;
}

.real-lost {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.192;
  color: var(--premium-pink);
  margin-bottom: 29px;
}

.real-quotes {
  fill: #f8c5d7;
  position: absolute;
  top: 108px;
  left: 24px;
}

.real-info {
  padding-left: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.77778;
  color: var(--grey-copy);
}

.real-wrap {
  display: flex;
  gap: 17px;
  align-items: center;
  padding-left: 40px;
  margin-top: 11px;
}

.real-img {
  border-radius: 50%;
}

.real-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.88889;
  color: var(--grey-copy);
  margin-bottom: -11px;
}

.real-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.42857;
  color: #969bab;
}

.app {
  padding-top: 112px;
  padding-bottom: 76px;
  background-color: var(--premium-pink);
}

.app-wrap {
  padding-left: 83px;
}

.app-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--white);
  margin-bottom: 4px;
}

.app-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.3125;
  color: var(--white);
  width: 489px;
}

.app-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 18px;
}

.app-list {
  display: flex;
  gap: 12px;
  margin-top: 9px;
}

.app-imgs {
  position: absolute;
  top: -159px;
  left: 642px;
  height: 523px;
  width: 570px;
  overflow-y: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

.app-img-left {
  box-shadow: 10px 15px 30px 0 rgba(41, 41, 42, 0.5);
  border-radius: 35px;
}

.app-img-right {
  border-radius: 35px;
  position: absolute;
  top: 134px;
  left: 284px;
  box-shadow: 10px 15px 30px 0 rgba(41, 41, 42, 0.5);
}

.social {
  padding-top: 60px;
  padding-bottom: 81px;
  background-color: #ededed;
}

.social-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: var(--premium-pink);
  margin-bottom: 18px;
}

.social-list {
  display: flex;
  gap: 90px;
  justify-content: center;
}

.social-link {
  background-color: var(--white);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  background-color: var(--white);
}

.social-link:focus {
  background-color: var(--pink-subtle);
}

.social-link:active {
  background-color: var(--white);
}

.social-icon {
  fill: var(--premium-pink);
}

.social-link:hover .social-icon {
  fill: var(--pink-hover);
}

.social-link:focus .social-icon {
  fill: var(--premium-pink);
}

.social-link:active .social-icon {
  fill: var(--premium-pink);
}/*# sourceMappingURL=main.css.map */