.real {
    padding-top: 126px;
    padding-bottom: 621px;
    background: linear-gradient(180deg, var(--white) 0%, #f4e3e9 100%);
}

.real-icon {
    fill: rgba(228, 48, 113, 0.1);
    position: absolute;
    top: -63px;
    left: -7px;
    z-index: 0;
}

.real-wrapper{
    padding-left: 83px;
    position: relative;
    z-index: 1;
}

.real-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.192;
    color: var(--grey-copy);
    margin-bottom: 12px;
    width: 414px;
}

.real-desc {
    font-weight: 400;
    font-size: 18px;
    color: var(--grey-copy);
}

.real-list {}

.real-item {
    border-radius: 10px;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.18);
    background: var(--white);
    padding: 35px 34px 36px 27px;
    position: absolute;
}

.real-item:nth-child(1) {
    width: 349px;
    top: 180px;
    left: 196px;
}

.real-item:nth-child(2) {
    width: 449px;
    top: 39px;
    left: 578px;
}

.real-item:nth-child(3) {
    width: 345px;
    top: 415px;
    left: 578px;
}

.real-lost {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.192;
    color: var(--premium-pink);
    margin-bottom: 29px;
}

.real-quotes {
    fill: #f8c5d7;
    position: absolute;
    top: 108px;
    left: 24px;
}

.real-info {
    padding-left: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.77778;
    color: var(--grey-copy);
}

.real-wrap {
    display: flex;
    gap: 17px;
    align-items: center;
    padding-left: 40px;
    margin-top: 11px;
}

.real-img {
    border-radius: 50%;
}

.real-text {}

.real-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.88889;
    color: var(--grey-copy);
    margin-bottom: -11px;
}

.real-time {
    font-weight: 400;
    font-size: 14px;
    line-height: 2.42857;
    color: #969bab;
}
